@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&amp;display=swap");
* {
  font-family: 'Outfit';
}

.profile {
    text-align: center;
    margin: 10px;
  }
  
  .profile-image {
    max-width: 40%;
    border-radius: 3px;
  }
  
  .profile-name {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .profile-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .profile-bio {
    margin-bottom: 20px;
  }
  
  .profile-bio h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .profile-experience {
    margin-bottom: 20px;
  }
  
  .profile-experience h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .profile-skills {
    margin-bottom: 20px;
  }
  
  .profile-skills h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .profile-skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .profile-skills li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
  }